body {
    font-family: 'Libre Franklin', sans-serif;
    color: #333;
}

.hero-background {
    min-height: 768px;
    padding: 85px 165px;
    background-image: url('images/Background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.nav-logo {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
}

.nav-logo:hover, .nav-link:hover  {
    color: #F5D6AB;
}

.nav-link {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    margin-left: 59px;
}

.nav-active {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
}

.navbar-toggler-icon {
    background-image: url('images/hamburger-white.png');
}

h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 400;
    margin-top: 145px;
}

h2 {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    margin: 26px 0 106px;
}

.banner-link {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}